.app {
  background-image: linear-gradient(
    to right top,
    #636567,
    #3e6b79,
    #007374,
    #007753,
    #037616
  );
  height: 100vh;
  padding: 25px 45px;
}

.link {
  color: inherit;
  text-decoration: none;
}
