.app {
  background: #7f7fd5;
  background: -webkit-linear-gradient(to top, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to top, #91eae4, #86a8e7, #7f7fd5);
  height: 100%;
  padding: 25px 45px;
}

.link {
  color: inherit;
  text-decoration: none;
}
